{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>StarPets - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/starpets.css' %}">
    </head>
    <body>
        <nav>
            <h1>
                <a href="{% url 'pets:home' %}">
                    <strong>StarPets</strong>
                </a>
            </h1>
            <ul>
                <li><a href="{% url 'pets:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'pets:top_pets' %}">Top Pets</a></li>
                    <li><a href="{% url 'pets:categories' %}">Categories</a></li>
                    <li><a href="{% url 'pets:bookmarks' %}">Bookmarks</a></li>
                    <li><a href="{% url 'pets:upload' %}">Upload Pet</a></li>
                {% else %}
                    <li><a href="{% url 'pets:login' %}">Top Pets</a></li>
                    <li><a href="{% url 'pets:login' %}">Categories</a></li>
                    <li><a href="{% url 'pets:login' %}">Bookmarks</a></li>
                    <li><a href="{% url 'pets:login' %}">Upload Pet</a></li>
                {% endif %}
            </ul>
            <div class="user-status">
                {% if user.is_authenticated %}
                    <div class="to-profile-div">
                        <button id="profile-dropdown" class="go-to-profile-btn">
                            <strong>{{ user.username }}</strong>
                        </button>

                        <div id="dropdown-menu" class="dropdown-content">
                            <a class = "profile-link" href ="{% url 'pets:profile' %}">Go to profile</a>

                            <form action="{% url 'pets:logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
    
                        </div>
                    </div>
                {% else %}
                    <a href ="{% url 'pets:login' %}">Not Logged In</a>
                {% endif %}
            </div>
        
        </nav>
        <hr>

        <div class ="main-content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <hr>
            <footer>© 2026 Star Pets </footer>
            <hr>
        </div>

        <!-- JavaScript for handling bookmark toggling -->
        <script>
           // Define the URLs for bookmark toggling and rating, ensuring they are correctly formatted 
           const BOOKMARK_URL = "{% url 'pets:toggle_bookmark' 0 %}".replace('0/', '');
           const RATE_URL = "{% url 'pets:rate_pet' 0 %}".replace('0/', '');
        </script>
        <!-- Include the JavaScript file -->
        <script src="{% static 'js/starpets.js' %}"></script>
    </body>
</html>