{% extends 'pets/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-container">
        <h1>Welcome to StarPets!</h1>
        <p> Home of pet lovers </p>
    </div>
    

    <div class="feature-container">
        {% if user.is_authenticated %}
        <a href="{% url 'pets:upload' %}">
        {% endif %}
            <div class="feature-box">
                <h2>Share Your Pets</h2>
                <p>Upload photos of your beloved pets and let the world admire them.</p>
                <img src = "{% static 'images/camera2.png' %}"/>
            </div>
        </a>

        {% if user.is_authenticated %}
        <a href="{% url 'pets:categories' %}">
        {% endif %}
            <div class="feature-box">
                <h2>Rate & Comment</h2>
                <p>Give star ratings and leave comments on your favorite pet pictures.</p>
                <img src = "{% static 'images/star2.png' %}"/>
            </div>
        </a>

        {% if user.is_authenticated %}
        <a href="{% url 'pets:top_pets' %}">
        {% endif %}
            <div class="feature-box">
                <h2>Top Pets Leaderboard</h2>
                <p>See which pets are trending on our weekly leaderboard.</p>
                <img src = "{% static 'images/trophy2.png' %}"/>
            </div>  
        </a>
    </div>

    {% if not user.is_authenticated %}
    <div class="btn-container">
            <button class="login-btn" onclick = "window.location.href='login'">Login</button>
            <button class="signup-btn" onclick = "window.location.href='signup'">Sign Up</button>
    </div>
    {% endif %}
{% endblock %}