{% extends 'pets/browse_base.html' %}
{% load static %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block content %}
    <h1 class="main-header">{{ user.username }}'s profile</h1>
        
    <div class="profile-layout-wrapper">
        <aside class="profile-sidebar">

            <div class="profile-image-section>">
                <div class="profile-pic-placeholder">
                    <img src="{% static 'images/defaultUser.png' %}" alt = "Profile Picture">
                </div>
                <button class="change-profile-btn">Change Profile Pic</button>
            </div>

            <div class="profile-description-section">
                <h3>Description</h3>
                <div class="profile-description-box">Enter your description here!</div> 
            </div>

            <form action="" method = "post">
                {% csrf_token %}
                <button type="submit" class="delete-account-btn">DELETE ACCOUNT</button>
            </form>

        </aside>

        <main class="profile-pet-content">
                <h2 class = "profile-pet-section-title">{{ user.username }}'s StarPets!</h2>
                
                <div class="pet-grid">
                    {% for pet in pets %}
                        {% include 'pets/partials/pet_box.html' %}
                    {% empty %}
                        <div class="no-user-pet-message">
                            <p>You haven't uploaded any pets yet.</p>
                            <a hrfe="{% url 'pets:upload' %}" class="btn-pet-box btn-comment">Upload your first pet!</a>
                        </div>
                    {% endfor %}

                </div>
        </main>
    </div>
{% endblock %}