{% extends 'pets/base.html' %}

{% block title %}Upload Pets{% endblock %}

{% block content %}
<div class="home-container">
    <h1 class="main-header">Upload a Pet</h1>

    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}
                    
                    {% if field.help_text %}
                    <small class="help-text">
                        {{ field.help_text }}
                    </small>
                {% endif %}

                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                
                {% endfor %}

            </div>
        {% endfor %}

            <button type="submit" class="upload-btn">Upload</button>
            
        </form>
    </div>
</div>
{% endblock %}