.home-container {
    text-align: center;
}

.main-header {
    text-align: left;
    border-color: #3b82f6;
    border-width: 2px;
    border-style: solid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: lightgrey;
    
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    gap: 20px;
   
}

.feature-box {
    border: 1px solid black;
    background-color: #d1d5db ;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 1; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.login-btn {
    background-color: #3b82f6; 
    color: white;
    border:none;
    padding: 5px 10px;
    border-radius: 5px;

}

.login-btn:hover {
    background-color: #2980b9;
}

.login-btn, .signup-btn{
    cursor: pointer;
    transition: backround-color 0.3 ease;
}

.signup-btn:hover {
    background-color: #27ae60;
}

.signup-btn {
    background-color: #10b981; 
    color: white;
    border:none;
    padding: 5px 10px;
    border-radius: 5px;

}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}



.footer {
    text-align: center;
    background-color: lightgray;
    bottom:0;
    left:0;
    position:fixed;
    width: 100%;
}

.footer footer {
    font-family: "Open Sans", sans-serif;
}


/*login/signup pages */

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.login-submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    transition: backround 0.3s;
}

.login-submit-btn:hover {
    background-color: #2980b9;
}

.signup-submit-btn {
    background-color: #10b981;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    transition: backround 0.3s;
}

.signup-submit-btn:hover {
    background-color: #27ae60;
}